<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
      



      <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <a class="navbar-brand" href="/">Trip Planner</a>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="navbar">
         <ul class="nav navbar-nav navbar-left">
           <li class="active"><a href="/" >Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
         
         </ul>
       </div><!-- /.navbar-collapse -->
     

     </div><!-- /.container -->
   </nav>

   

    {% block content %}{% endblock %}


















    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKumwsSdzLPCpthcFhUgSSJ4MmhSV2wVs" type="text/javascript"></script>
    <script src="javascripts/map.js" type="text/javascript"></script>
    <script src="javascripts/plan.js" type="text/javascript"></script>
    <script src="javascripts/daypicker.js" type="text/javascript"></script>
  </body>
</html>